@use "../../../stylesheets/fonts";
@use "../../../stylesheets/variables";
@use "../../../stylesheets/responsiveness";
@import "../../../stylesheets/fonts";
@import "../../../stylesheets/variables";
@import "../../../stylesheets/responsiveness";

.SupportSection__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;

    button:hover {
      cursor: pointer;
    }

    &--SupportContainer--title, &--SponsorContainer--title {
        font-family: $inter;
        font-weight: 600;
        font-size: 32px;
        text-align: center;
    
        @media screen and (max-width: $medium) {
          font-size: 28px;
        }
      }

    &--SupportContainer--icons{
      margin-top: 30px;
      margin-bottom: 25px;
    }
    
    &--SupportContainer--blurb, &--SponsorContainer--blurb {
      @include fonts.para;
      display: flex;
      text-align: center;
      font-size: 20px;
      margin-top: 20px;
      line-height: 1.5em;
  
      @media screen and (max-width: $medium) {
        font-size: 16px;
      }
    }
    margin-bottom: 5em;

    &--SponsorContainer--button{
        display: flex;
        justify-content: center;
        margin-top: 25px;

        .ConnectButton{
          background-color: #6F6FE8;
          height: 48px;
          width: 270px;
          border: none;
          border-radius: 12px;
      
          @include fonts.para;
          color: white;
      
      }
    }
}